<a href="add-user" class="btn btn-primary"> Ajouter </a>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Password</th>
      <th>Date_naissance</th>
      <th>Téléphone</th>
      <th>Grade</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class="btn btn-success"> Modifier </a>
        <a class="btn btn-danger"> Supprimer </a>
      </td>
    </tr>
  </tbody>
</table>
